/*Reseteo del css*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: solid red 1px;   */
}

body {
    font-family: 'Koulen', cursive;
}

a {
    text-decoration: none;
}

/*Centrado de fila para Boostrap.*/
.row {
    justify-content: center;
}

/* ========================Decoracion Index======================== */
.portada {
    width: 100%;
    height: 90vh;
    background-image: url("../img/portada2.jpg");
    /*Manejo de repeticion*/
    background-repeat: no-repeat;
    /*Manejo de posicion*/
    background-position: bottom;
    /*Manejo de tamaño*/
    background-size: cover;
    /*Cover-contain*/
    /*Como se comporta con el scroll*/
    background-attachment: fixed;
}

.navbar {
    width: 100%;
    padding: 20px;
}

.navbar a {
    color: white;
    font-size: 1.5rem;
}

.navbar li {
    list-style: none;
    padding: 10px;
}

.navbar a:hover {
    text-decoration: underline;
    transform: scale(1.4);

}

/* -----Logo----- */
.logo {
    width: 70px;
    padding: 10px;
}

/* ----Clase para centrar titulos y subtitulos ---- */
.centrado {
    text-align: center;
    margin: 10px;
}

/* --------Decoracion del carrusel--------*/
.carousel-inner img {
    width: 100%;
    max-height: 1100px;
    object-fit: fill;
}

.carousel-inner {
    height: 100%;
}

/* --------Galeria en Main-------- */
.main-index{
    background-color: rgba(0, 0, 0, 0.225);
}

.galeria__tarjeta {
    margin: 10px;
    border: solid black 1px;
    position: relative;
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    transition-duration: 1s;
}

.galeria__tarjeta__imagen {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.galeria__tarjeta__texto {
    position: absolute;
    color: aliceblue;
    font-size: 1.7rem;
}

/*Para centrar el titulo sobre la imagen de la galeria-index*/
.texto-flotante-centrado {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.galeria__boton {
    display: flex;
    justify-content: center;
    transition-duration: 2s;
}

.galeria__boton .boton {
    padding: 15px;
    transition-duration: 2s;
}

.galeria__boton .boton:hover {
    background-color: rgba(172, 255, 50, 0.6);
    transform: scale(1.2);
}

.galeria__tarjeta:hover {
    transform: scale(1.010);
    filter: grayscale(80%);
}

/* ----Decorado boton----*/
.boton {
    margin: 25px;
    padding: 15px;
    font-size: 1.2rem;
    border-radius: 20px;
}

.boton a {
    color: black;
}

/* --------aside INFORMACION en index-------- */
.informacion {
    margin: 20px;
    align-items: center;
    justify-content: center;
    align-self: center;
    border: dotted black 2px;
    transition-duration: 1.5s;
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.informacion img {
    width: 100%;
    padding: 5px;
}

.informacion__parrafo {
    padding: 10px;
}

.informacion:hover {
    transform: scale(1.05);
    background-color: rgba(172, 255, 50, 0.6);
}

/* @media(max-width:500px) {
    .informacion {
        margin: 15px;
    }

    .informacion__parrafo {
        font-size: 0.8rem;
    }

    .informacion__titulo {
        font-size: 1rem;
        margin: 1px;
    }

    .informacion img {
        padding: 15px;
    }
} */

/* ------------Footer--------------- */
footer {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 200, 200, 0.4));
    color: aliceblue;
    padding: 20px;
    border: solid black 1px;
}

.footer__iconos-contacto {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.footer__iconos-contacto i {
    color: aliceblue;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 35px;
    transition-duration: 1s;
}

.footer__iconos-contacto a {
    font-size: 35px;
}

.footer__iconos-contacto .logo {
    margin-right: 20px;
}

.footer__iconos-contacto i:hover {
    color: greenyellow;
    transform: scale(1.4);
}

@media(max-width:600px) {
    .footer__iconos-contacto {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        text-align: center;
    }

    .footer__iconos-contacto .logo {
        margin: 0px;
        height: 30px;
        width: 30px;
    }

    .footer__iconos-contacto i {
        margin: 5px;
        font-size: 20px;
    }
}

/* ========================Decoracion Sucursales======================== */
.sucursal {
    display: flex;
    height: 450px;
    margin: 20px;
    border: solid black 1px;
    border-radius: 40px;
    background-color: rgba(0, 200, 200, 0.125);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.sucursal__mapa {
    width: 70%;
    height: auto;
    padding: 30px;
}

.sucursal__texto {
    padding: 10px;
    margin-left: 20px;
    align-self: center;
}

@media(max-width:500px) {
    .sucursal__mapa {
        padding: 20px;
        width: 60%;
    }

    .sucursal__texto {
        font-size: 0.7rem;
        border: solid black 1px;
        margin: 10px;
    }
}

/* ========================Decoracion AcercaDe======================== */

.contenedor__img {
    margin: 10px;
    padding: 10px;
}

.contenedor__img img {
    width: 100%;
    height: 550px;
    object-fit: cover;
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.contenedor__texto {
    margin: 20px;
    padding: 20px;
    background: linear-gradient(to bottom, rgba(199, 199, 89, 0.1), rgba(36, 185, 196, 0.1));
    border: solid black 1px;
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

/* ========================Decoracion Contacto======================== */
.main-contacto {
    width: 100%;
    height: 100vh;
    display: flex;
    place-content: center;
    background-image: url("../img/fondo-cotacto.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    background-attachment: fixed;
}

.contenedor__formulario {
    width: 60%;
    height: auto;
    max-width: 1100px;
    align-self: center;
}

.formulario {
    min-height: 400px;
    color: whitesmoke;
    background-color: rgba(36, 185, 196, 0.4);
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.formulario form {
    font-size: 1.3rem;
    text-align: center;
    padding: 20px;
}

.form-group row {
    margin-bottom: 20px;
}

@media(max-width:500px) {
    .formulario {
        color: black;
        padding: 20px;
        background-color: rgba(255, 255, 255, 0.329);
    }

    .formulario form {
        width: 100%;
        font-size: 0.8rem;
    }

    .boton {
        width: 100%;
        font-size: 0.95rem;
        padding: 5px;
        margin: 10px auto;
    }
}

/* ========================Decoracion Galeria======================== */

.galeria__fotos img {
    width: 100%;
    height: 450px;
    object-fit: cover;
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    transition-duration: .5s;
}

.galeria__fotos .col-lg-4 {
    padding: 20px;
}

.galeria__fotos img:hover {
    border-radius: 20px;
    border: solid rgb(0, 10, 200) 2px;
    filter: brightness(1.2);
}