@mixin tablet {
    @media(max-width: 768px) {
        @content;
    }
}

// desktop
@mixin desktop {
    @media(max-width:1200px) {
        @content;
    }
}

// movil
@mixin movil {
    @media(max-width:576px) {
        @content;
    }
}

@mixin cajota($margen: 0, $padding: 0) {
    margin: $margen;
    padding: $padding;
}

@mixin fondo {
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    background-attachment: fixed;
}