/* ========================Decoracion Galeria======================== */

.galeria__fotos img {
    width: 100%;
    height: 450px;
    object-fit: cover;
    box-shadow: $sombra;
    transition-duration: 0.7s;
}

.galeria__fotos .col-xl-4 {
    padding: 20px;
}

.galeria__fotos img:hover {
    border-radius: 20px;
    border: solid map-get($colores,"aqua") 1px;
    filter: brightness(1.2);
}