/* ========================Decoracion Index======================== */
.navbar {
    width: 100%;
    @include cajota(0, 7px);

    li {
        list-style: none;
        padding: 10px;
        margin: 0 10px;
    }

    a {
        color: white;
        font-size: 1.5rem;

        &:hover {
            text-decoration: underline;
            transform: scale(1.4);
        }
    }
}

.navbar-dark {
    .navbar-nav {
        .nav-link.active {
            color: rgba(0, 255, 255, 0.8);
        }
    }
}

/* --------Galeria en Main-------- */
.main-index {
    padding: 10px;
    background-color: map-get($colores, "azulado");
}

.contenedor-tarjetas {
    display: grid;
    max-width: 80%;
    margin: 20px auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 25px;

    @include tablet {
        grid-template-columns: repeat(2, 1fr);
        max-width: 90%;
        gap: 20px;
        margin: 10px auto;
    }

    @include movil {
        display: block;
        margin-bottom: 10px;
    }

    .tarjeta {
        width: 100%;
        height: 350px;
        position: relative;

        :hover {
            filter: brightness(1.1);
            transform: scale(1.0125);
        }
        @include movil {
            margin-bottom: 15px;
            max-height: 250px;
        }

        &__imagen {
            width: 100%;
            height: 100%;
            box-shadow: $sombra;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &__texto {
            position: absolute;
            font-family: Arial, Helvetica, sans-serif;

            h3 {
                font-size: 2.5rem;
                background-color: rgba(255, 255, 255, 0.2);
                color: black;
                padding: 5px;

                @include desktop {
                    font-size: 1.5rem;
                    background-color: rgba(255, 255, 255, 0.4);
                }
            }
        }
    }
}

.ancho {
    grid-column: span 2;
}
.titulo{
    width: 80%;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    @include tablet {
        width: 90%;
    }
}
/*Para centrar el texto sobre la imagen de la galeria-index*/
.texto-flotante-centrado {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}