/* ========================Decoracion Sucursales======================== */
.main-sucursales {
    padding: 1px;
    background-color: #a68153d5;
}

.contenedor__sucursales {
    display: grid;
    max-width: 80%;
    margin: 10px auto;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    @media (max-width:1350px) {
        display: block;
        margin: 0 auto;
    }

}

.sucursal {
    display: flex;
    height: 500px;
    @include cajota(20px);
    border-radius: 10px;
    background-color: rgba(50, 200, 200, 0.4);
    box-shadow: $sombra;

    @media (max-width:768px) {
        display: block;
        text-align: center;
        border: 3px solid white;
        margin: 20px 0px;
    }

    &__mapa {
        width: 100%;
        height: auto;
        padding: 5px;
        clip-path: circle(50% at 50% 50%);

        @media(max-width:768px) {
            padding: 10px;
            height: 50%;
        }
    }

    &__texto {
        padding: 10px;
        margin-left: 20px;
        align-self: center;
        border: solid 4px white;
        @include cajota(10px, 10px);

        @media(max-width:768px) {
            width: 100%;
            font-size: 1rem;
            border: none;
            border-bottom: solid white 2px;
            margin: 10px auto;
        }
    }

}