/* ========================Decoracion Sucursales======================== */
.sucursal {
    display: flex;
    height: 450px;
    @include cajota(20px);
    border: solid black 1px;
    border-radius: 40px;
    background-color: rgba(40, 185, 196, 0.125);
    box-shadow: $sombra;
}

.sucursal__mapa {
    width: 70%;
    height: auto;
    padding: 30px;
}

.sucursal__texto {
    padding: 10px;
    margin-left: 20px;
    align-self: center;
}

@media(max-width:500px) {
    .sucursal__mapa {
        padding: 20px;
        width: 60%;
    }

    .sucursal__texto {
        font-size: 0.7rem;
        border: solid black 1px;
        margin: 10px;
    }
}